@tailwind base;
@tailwind utilities;

@font-face {
  font-family: 'Graphik';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Graphik-Regular-Web.woff');
}

@font-face {
  font-family: 'Graphik';
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Graphik-Medium-Web.woff');
}

@font-face {
  font-family: 'Lyon';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/LyonDisplay-Medium-Web.woff');
}

body {
  @apply .font-sans;
  @apply .leading-normal;
  @apply .text-black;
}

.disabled {
  @apply .cursor-not-allowed;
  @apply .opacity-50;
}
